<h1>Your Applications</h1>
<button type="button" class="btn btn-primary add-application" data-toggle="modal" data-target="#new-application-modal">
  Add Application
</button>
<table class="table table-striped applications-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="applications-container">
  </tbody>
</table>


<div class="modal fade" id="new-application-modal" tabindex="-1" role="dialog" aria-labelledby="new-application-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new-application-modal">New Application</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <form id="application-form-container" class="new-application">
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input name="company-name" type="text" class="form-control" id="company-name" placeholder="Enter Company Name" required>
            </div>
            <div class="form-group">
              <label for="job-title">Job Title</label>
              <input name="job-title" type="text" class="form-control" id="job-title" placeholder="Enter Job Title">
            </div>
            <div class="form-group">
              <label for="job-location">Job Location</label>
              <input name="job-location" type="text" class="form-control" id="job-location" placeholder="Enter Job Location">
            </div>
            <div class="form-group">
              <label for="job-posting">Job Posting</label>
              <input name="job-posting" type="url" class="form-control" id="job-posting" placeholder="Enter Job Posting URL">
            </div>
            <div class="form-group">
              <label for="contact-name">Contact Name</label>
              <input name="contact-name" type="text" class="form-control" id="contact-name" placeholder="Enter Contact Name">
            </div>
            <div class="form-group">
              <label for="contact-email">Contact Email</label>
              <input name="contact-email" type="email" class="form-control" id="contact-email" placeholder="Enter Contact Email">
            </div>
            <div class="form-group">
              <label for="contact-phone">Contact Phone</label>
              <input name="contact-phone" type="tel" class="form-control" id="contact-phone" placeholder="Enter Contact Phone">
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select name="status" class="form-control" id="status">
                <option value="1">Just applied</option>
                <option value="2">Followed up on initial application</option>
                <option value="3">Scheduled phone screen</option>
                <option value="4">Scheduled technical screen</option>
                <option value="5">Scheduled challenge</option>
                <option value="6">Scheduled onsite interview</option>
                <option value="7">Scheduled second onsite interview</option>
                <option value="8">Recieved offerPhone Screen Scheduled</option>
                <option value="9">Made counter-offer</option>
                <option value="10">Accepted offer</option>
                <option value="11">Declined by company</option>
                <option value="12">Not interested in opportunity</option>
              </select>
            </div>
            <div class="form-group">
              <label for="notes">Notes</label>
              <textarea name="notes" rows="10" class="form-control" id="notes"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Save application">
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>