<h1>Your Applications</h1>

<table class="table table-striped applications-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="applications-container">
  </tbody>
</table>
