<div class="col-md-12">
  <h2>Log In</h2>
  <form id="signup-form-container">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <input type="submit" class="btn btn-default">
  </form>
  <div class="links">
    <a href="./#login">Login</a>
    <a href="./#signup">Signup</a>
  </div>
</div>
